In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('DRG001.csv')

# Display the first few rows
df.head()

,COD_TIPO_RAPPORTO,TIPO_RAPPORTO,COD_DRG,DRG,ANNO,NUMERO
0,1,GESTIONE DIRETTA SSP,1,"Craniotomia, età > 17 anni con CC",2017,16
1,1,GESTIONE DIRETTA SSP,10,Neoplasie del sistema nervoso con CC,2017,46
2,1,GESTIONE DIRETTA SSP,100,Segni e sintomi respiratori senza CC,2017,24
3,1,GESTIONE DIRETTA SSP,101,Altre diagnosi relative all'apparato respirato...,2017,41
4,1,GESTIONE DIRETTA SSP,102,Altre diagnosi relative all'apparato respirato...,2017,31

In [13]:
# Check for duplicates
duplicates = df.duplicated()
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 0

In [4]:
# Check for missing values
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 COD_TIPO_RAPPORTO    0
TIPO_RAPPORTO        0
COD_DRG              0
DRG                  0
ANNO                 0
NUMERO               0
dtype: int64

In [5]:
# Convert 'ANNO' to integer
df['ANNO'] = df['ANNO'].astype(int)

# Convert 'NUMERO' to integer if needed
df['NUMERO'] = df['NUMERO'].astype(int)

In [11]:
# Check if all entries in 'TIPO_RAPPORTO' are uppercase
all_uppercase = df['TIPO_RAPPORTO'].str.isupper().all()
print("All entries in 'TIPO_RAPPORTO' are uppercase:", all_uppercase)

All entries in 'TIPO_RAPPORTO' are uppercase: True

In [ ]:
# Drop the specified column
#columns_to_remove = ['COD_TIPO_RAPPORTO']
#df = df.drop(columns=columns_to_remove)

In [12]:
# Save the cleaned data
#df.to_csv('DRG001_cleaned.csv', index=False)